.local-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;

    overflow-x: hidden;
}

.player1-turn {
    color: #FF0D00;
    width: calc(100% - 25px);
    font-size: 30px;
    text-align: start;
    
    margin: 0px;
    padding: 0px;
    padding-top: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player2-turn {
    color: #012CFF;
    width: calc(100% - 25px);
    font-size: 30px;
    text-align: end;
    
    margin: 0px;
    padding: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-game-back {
    width: 98%;
    margin: 0px;
    padding: 5px 0px 0px 20px;
    text-decoration: underline;
    font-size: 20px;
}

.title-game {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px 0 0 0;
    padding: 0px;
    text-align: center;
    font-size: 40px;

    z-index: -1;
}

@media only screen and (max-width: 768px) {
    .title-game {
        margin-top: 30px; /* Por ejemplo, cambiar el margen superior */
    }

    .space-game {
        min-width: 100%;
        min-height: 40px;
        content: '';
    }
}